<h2>All Active Posts </h2>

<table>
  <tr>
    <th>Created by</th>
    <th>Sell or buy</th>
    <th>Title</th>
    <th>Body</th>
    <th>View</th>
  </tr>
<div class ="post_index" >
<% @posts.each do |post| %>
  <tr>
   <% post_owner = User.find(post.user_id) %>
   <td><%= post_owner.email %> </td>
   <td><%= post.sell_or_buy %></td>
   <td><%= post.title %></td>
   <td><%= post.body %> </td>
   <td><%= link_to 'Show', post %></td>
  </tr>
</div>
<% end %>
</table>
