<!DOCTYPE html>
<html>
<head>
  <title>QutinoPrototypeDevise</title>
  <%= stylesheet_link_tag  "design" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
   <% if user_signed_in? %>
     Signed in as <%= current_user.email %>.
     <%= link_to "Sign out", destroy_user_session_path %>  <br />
     <%= link_to "My Posts", my_posts_path %>
     <%= link_to "Create Post", new_post_path %>
     <%= link_to "Show All posts", posts_path %>
   <% end %>

<%= yield %>

</body>
</html>
